body{
  margin:0px;
}


.nepe:hover{
  cursor: pointer;
}
#tabla{margin-top: -290px;}
.rojo:hover{
  cursor: no-drop;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin-left: 340px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAFd0;
  border-radius: 5px;
}
.form{
  width: 500px;
margin-left: auto;
margin-right: auto;
margin-top: 60px;}
